/* index.scss */
@import "bootstrap/scss/mixins";
@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/variables";

$font-size-base: 1rem;
$input-btn-font-size: $font-size-base;
$grid-gutter-width: 0;

$tertiary: #a5a5a5;

.btn, .form-control {
    @include media-breakpoint-up(sm) {
      font-size: rfs-fluid-value(1.2rem);
    }
}

.selector {
    @include media-breakpoint-up(lg) {
      font-size: rfs-fluid-value(3rem);
    }
}

.selector {
    @include media-breakpoint-up(lg) {
      font-size: rfs-fluid-value(3rem);
    }
}

.form {
    max-width: 600px;
};

.register-buttons {
    max-width: 300px;
};

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  7: $spacer * 7
);

