/* index.scss */
@import 'bootstrap/scss/bootstrap';

$font-size-base: 1rem;
$input-btn-font-size: $font-size-base;
$grid-gutter-width: 0;

$tertiary: #a5a5a5;

.btn {
    @include media-breakpoint-up(sm) {
      font-size: rfs-fluid-value(1.2rem);
    }
  }
  
.features-item {
  padding: 2rem;
  @include media-breakpoint-down(sm) {
    padding: 0;
    width: 100;
  }
}

.features {
  @include media-breakpoint-up(sm) {
    --bs-gutter-y: 3rem;
  }
}

.features-icon {
  width: 150px;
  margin-bottom: 1rem;
  
  @include media-breakpoint-down(sm) {
    width: 100px;
    margin-bottom: 0;
  }
}

.title {
  @include media-breakpoint-up(lg) {
    font-size: rfs-fluid-value(3rem);
  }
}

.subtitle {
  @include media-breakpoint-up(lg) {
    font-size: rfs-fluid-value(2rem);
  }
}

.result-item {
  width: 16rem;
}

.result-item__btn {
  font-size: .8rem;
}